<div class = "jumbotron">
    <h1>Welcome to yet another try at learning Rails</h1>
    <p>I will! I will! I will!!</p>
    <%= link_to "About Us", home_about_path, class: 'btn btn-default' %>
    <%= link_to "Home Button", root_path, class: 'btn btn-primary btn-lg' %>
    
</div>